.cart {
    background-color: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart p {
    font-size: 17px;
}

.btn-clear-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    font-size: 18px;
    margin: 10px auto;
    color: white;
    background-color: #ff3030;
    border-radius: 4px;
    transition: .4s;
}

.btn-clear-cart:hover {
    color: #2e2e2e;
    background-color: white;
    box-shadow: 1px 1px 5px #ff3030;
}