.header {
    color: white;
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

nav.header a {
    font-size: larger;
    color: white;
    text-decoration: none;
    margin-right: 30px;
    transition: .2s;
}

nav.header a:hover {
    color: orange;
}

.font-icon {
    font-size: x-large;
}

@media only screen and (max-width: 780px) {
    .header {
        display: block;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    nav.header a {
        margin-left: 15px;
    }
}
