.header {
    color: white;
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

nav.header a {
    font-size: larger;
    color: white;
    text-decoration: none;
    margin-right: 30px;
    transition: .2s;
}

nav.header a:hover {
    color: orange;
}

.user-info {
    padding-left: 25px;
}

.btn-logOut {
    padding: 5px 8px;
    border-radius: 5px;
    margin-left: 5px;
    background: rgb(255, 153, 0);
    transition: .2s;
}

.btn-logOut:hover {
    background: rgba(252, 167, 40, 0.822);
}

.font-icon {
    font-size: x-large;
}

@media only screen and (max-width: 780px) {
    .header {
        display: block;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    nav.header a {
        margin-left: 15px;
    }
}